.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 430px;

  & > div {
    display: flex;
    justify-content: center;
  }

  img {
    user-select: none;
  }

  h3,
  p {
    font-weight: 300;
    text-align: center;
    color: white;
  }

  h3 {
    font-size: 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    line-height: 25px;
  }
}
