@font-face {
  font-weight: 300;
  font-family: OpenSans;
  src: url("@/fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("@/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: OpenSans;
  src: url("@/fonts/OpenSans/OpenSans-Medium.ttf");
}
